digikala/node_modules
digikala/debug_category_*.html
igikala/output/digikala_data.csv
output/wiki_data.csv
digikala/digikala_pages/
chromedriver/chromedriver.exe
npm-debug.log
__pycache__/
*.pyc
*.pyo
*.pyd
wiki_pages/
debug_category_*.html
.venv/
